:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
    background-color: black;
}

@tailwind base;
@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
}
@tailwind components;
@tailwind utilities;

.day {
  background-image: url(../../public/sunny_day.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cloudyDay {
  background-image: url(../../public/cloudy_day.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cloudy {
  background-image: url(../../public/cloudy.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.night {
  background-image: url(../../public/clear_night.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.cloudyNight {
  background-image: url(../../public/cloudy_night.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

